name: Scrape and notify
on:
  schedule:
    - cron: "*/5 0-14,21-23 * * *" # UTC
  workflow_dispatch:

env:
  LINE_CHANNEL_ACCESS_TOKEN: ${{ secrets.LINE_CHANNEL_ACCESS_TOKEN }}

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: job
      - name: Setup python
        uses: actions/setup-python@v4 # python version is set default by .python-version file
        with:
          cache: 'pip' # caching pip dependencies
          cache-dependency-path: 'requirements.txt'
      - name: Install python packages
        run: make pip-install
      - name: Setup Playwright
        id: playwright-cache
        uses: actions/cache@v3
        with:
          path: /home/runner/.cache
          key: ${{ runner.os }}-playwright-cache
          restore-keys: ${{ runner.os }}-playwright-cache # FIXME: browser version need to be upgrade according to some file
      - name: Install Playwright
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: make playwright-install
      - name: Run python file
        run: make run
      - name: Commit output files
        id: commit_output
        run: |
          MAKE_ENV=GITHUB_ACTIONS make ga-commit
        continue-on-error: true
      # If committing files succeeded, push to main branch and deploy site
      - name: Push
        if: ${{ steps.commit_output.outcome == 'success' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: job
